{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
<div class="container jumbotron text-center">
	<h1><strong>Never forget a thing.</strong></h1>
	<p class="font-italic">
		Make sure you don't let your important tasks slip away. Add one-time reminders for regular items, recurring reminders for daily, weekly or monthly commitments.
	</p>
	<a class="nav-link " href = "{{url_for('registration')}}">Register for Application</a>

	<p class="font-italic">
		Or
		<a class="nav-link " href = "{{url_for('login')}}">Login</a>
	</p>
</div>
{% endblock %}