{% extends 'layout.html' %}

{% block body %}
  <div class="text-white">
	  <h1 style="font-family: Georgia, serif;">Main Page for reminder application</h1>
    <div class="font-italic">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Reminder 1 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
        <a href="#" class="list-group-item list-group-item-action">Reminder 2 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
        <a href="#" class="list-group-item list-group-item-action">Reminder 3 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
        <a href="#" class="list-group-item list-group-item-action">Reminder 4 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
      </div>
    </div>
  </div>
{% endblock %}