{% extends 'layout.html' %}

{% block body %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <div class="text-white">
    <a class="button" href = "{{url_for('userProfile')}}">View My Profile</a>
	  <h1 style="font-family: Georgia, serif;">Main Page for reminder application</h1>

    <div class="p-4 text-left" style="background-color:#023d16;">
      <h1 style="font-variant: small-caps;">Filter Reminders by Date Range:</h1>
        {% from "includes/_formhelpers.html" import render_field %}
      <form action="" method="POST">
        <div class="form-group p-2">
                {{render_field(form.filterStartDate, class_="form-control")}}
              </div>
              <div class="form-group" p-2>
                {{render_field(form.filterEndDate, class_="form-control")}}
              </div>
              
        <button type="submit" class="btn btn-primary p-2">Submit</button>
        <a href="{{url_for('main_app', username = session.username)}}" class="btn btn-secondary p-2">Cancel</a>
      </form> 
      </div>

   
  {% if success %}
    <h1 style="font-variant: small-caps;">View Reminders:</h1>
    <div class="font-italic" style="background-color:#F0F8FF; color: black;">
     <!--<div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Reminder 1 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
        <a href="#" class="list-group-item list-group-item-action">Reminder 2 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
        <a href="#" class="list-group-item list-group-item-action">Reminder 3 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
        <a href="#" class="list-group-item list-group-item-action">Reminder 4 <button class="btn-danger float-right">DELETE</button> <button class="btn-success float-right">EDIT</button> </a>
      </div> -->
      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            
             <th>Reminder Name</th>
             <th>Reminder Desc</th>
             <th>Priority</th>
             <th>Start Date</th>
             <th>Flagged</th>
             <th>List Name</th>
             <th></th>
             <th></th>
          </tr>
        </thead>
        <tbody>
             {% for item in data %}
             
             <tr>
              
               <th>Reminder Name</th>
               <th>Reminder Desc</th>
               <th>Priority</th>
               <th>Start Date</th>
               <th>Flagged</th>
               <th>List Name</th>
               <th></th>
               <th></th>
            </tr>
          </thead>
          <tbody>
               {% for item in data %}
               
               <tr>
                
                   <td>{{item['remindername']}}</td>
                   <td>{{item['reminderdesc']}}</td>
                   <td>{{item['priority']}}</td>
                   <td>{{item['reminderstartdate']}}</td>

                   {% if item['flaged'] == 1 %}
                     <td> <i class="icon-flag" style="color: red"></i> </td>
                   {% else %}
                     <td> <i class="icon-flag" style="color: grey"></i> </td>
                   {% endif%}

                   <td>{{item['listname']}}</td>
                   <td> <a href="{{url_for('editReminder', reminderId = item.reminderid)}}" class="btn-success" >EDIT</a> </td>
                   <td> <a href="{{url_for('deleteReminder', reminderId = item.reminderid)}}" class="btn-danger" >DELETE</a> </td>
                   {% if displayDeleteConfirmation %}
                      <div class="p-4 text-left" style="background-color:#f5e50d;">
                        <h1 style="font-variant: small-caps;">Are you sure you want to delete this reminder?</h1>
                          {% from "includes/_formhelpers.html" import render_field %}
                                         
                          <a type="submit" class="btn btn-primary p-2" href="{{url_for('deleteReminder', reminderId = item.reminderid, deleteReminderMessage = 'deleteTheReminder')}}">Yes!</a>
                          <a href="{{url_for('main_app')}}" class="btn btn-secondary p-2">Cancel</a>
                        </form> 
                      </div>
                  {% endif %}
               </tr>
               {% endfor %}
          </tbody> 
      </table>

  </div>
  {% endif %}
</div>
{% endblock %}